* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(247, 222, 206);
}

h1 {
    font-size: 5rem;
    text-align: center;
    padding-top: 25px;
}

img {
    width: 100%;
}

#wrapper {
    margin-left: 400px;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#join-us {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    background-color: rgb(186, 233, 233);
}

#join-us h2 {
    font-size: 3rem;
    margin-left: 20px;
    margin-top: 500px;
}

#join-us input {
    font-size: 1.7rem;
    margin-top: 50px;
    margin-left: 20px;
}

#join-us #add-member {
    cursor: pointer;
    font-size: 2rem;
    margin: 30px 0 0 100px;
    padding: 10px 20px;
    border: none;
}

.card {
    background-color: white;
    display: flex;
    margin: 50px;
    height: 300px;
    width: calc(100vw / 3 - 50px);
    box-shadow: 0 0 5px grey;
    border-radius: 20px;
}

.card .info-container > h4 {
    font-size: 3rem;
    font-weight: bolder;
}

.card .info-container > span {
    font-size: 2rem;
}

.img-container {
    height: 100%;
    width: 350px;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
}

.info-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}